<Router AppAssembly="@typeof(MauiProgram).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MobileLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Layout.MobileLayout)">
            <p>Page not found.</p>
        </LayoutView>
    </NotFound>
</Router>