@inherits LayoutComponentBase

<div>
    <main class="page">
        @Body
    </main>

    <nav class="bottom-nav">
        <a href="/search">Search</a>
        <a href="/bookings">My Bookings</a>
        <a href="/driver-config">Driver</a>
    </nav>
</div>