<div class="nav-list">
    <NavLink class="nav-link-custom" href="/dashboard" Match="NavLinkMatch.All">
        Dashboard
    </NavLink>

    <NavLink class="nav-link-custom" href="/parkings">
        Parkings
    </NavLink>

    <NavLink class="nav-link-custom" href="/bookings">
        Bookings
    </NavLink>
    <NavLink class="nav-link-custom" href="/payments">
        Payments
    </NavLink>
</div>